<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">About</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
  <ion-card-header>
    <ion-card-title>CarAccel</ion-card-title>
    <ion-card-subtitle>About the App</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <p>Connects to a CarAccel device via Bluetooth and retrieves acceleration data. </p>
    <p>Developed by Yangosoft 2026.</p>
    <p><a href="https://github.com/yangosoft/caraccel">https://github.com/yangosoft/caraccel</a> </p>

  </ion-card-content>
</ion-card>

  
</ion-content>
